@page
@model Presentation.Pages.Admin.CustomerModel
@{
  Layout = "_LayoutAdmin";
	ViewData["Title"] = "Admin Page";
}
<div class="main-panel">
  <div class="content-wrapper">
     <!-- row search -->
    <div class="row">
    </div>
    <!-- row table -->
    <div class="row">
    <div class="col-lg-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h3 align="center">List of Customers </h3>
          <table class="table table-bordered table-striped table-hover" id="TableCustomer">
           <thead>
            <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Status</th>
              <th></th>
            </tr>
           </thead>
           <tbody>
             <!-- change to code later -->
            @foreach (var item in Model.ListCustomer){
              <tr>
                <td>item.Id</td>
                <td>item.FirstName</td>
                <td>item.LastName</td>
                <td>item.Email</td>
                <td><label class="badge badge-warning">item.Status</label></td>
                <td> 
                  <button  id="@item.Id" data-toggle="modal" data-target="#EditCustomerForm"  type="button" class="btn btn-dark btn-sm  btn-rounded EditCustomer"><i class="fa fa-cog"></i></button>
                  <button  id="@item.Id" type="button" class="btn btn-danger btn-sm  btn-rounded DeleteCustomer"><i class="fa fa-times" ></i></button>
                </td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div> 
  </div> 
  <!-- end content_warper -->
</div>
<!-- end main body -->